<div class="title">
  <h2>Register Student</h2>
</div>

<%= render 'form', student: @student, academic_year_list: @academic_year_list, school_programs: @school_programs, khmer_calendar_list: @khmer_calendar_list, study_levels: @study_levels, provinces: @provinces %>