<!DOCTYPE html>
<html lang="kh">
<head>
  <meta charset="UTF-8">
  <title>ID Card</title>
  <%= stylesheet_link_tag "card" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Moul&display=swap" rel="stylesheet">
</head>
<body>
  <%= render 'pdf_templates/id_card' %>
</body>
</html>