<!DOCTYPE html>
<html lang="kh">
<head>
  <meta charset="utf-8">
  <title>ID Card</title>
  <%= stylesheet_link_tag "card", media: "all" %>
  <link rel="stylesheet" href="<%= Rails.root.join('app/assets/stylesheets/pdf.css') %>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Moul&display=swap" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>